<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Nombre">
  
      <label for="lname">Apellido</label>
      <input type="text" id="lname" name="lastname" placeholder="Apellido">
  
      <label for="country">Pais</label>
      <select id="country" name="country">
        <option value="australia">Colombia</option>
        <option value="canada">Mexico</option>
        <option value="usa">España</option>
      </select>
  
      <label for="subject">Mensaje</label>
      <textarea id="subject" name="subject" placeholder="Cuentanos.." style="height:200px"></textarea>
  
      <input type="submit" value="Enviar">
  
    </form>
  </div>