<nav class="navbar">
    <div class="container-fluid">
        <div class="brand-and-send-to">
            <a class="navbar-brand" href="/"><img src="./assets/images/logo.jpg" alt="Logo" id="logo"></a>
            <div class="send-to">
                <p>{{ 'sendToMessage' | translate }}</p>
                <p>{{ country }}</p>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0 navbarform">
            <input class="form-control" type="text" placeholder="{{ 'search' | translate }}" aria-label="Search" name="search" [(ngModel)]="searchValue" (input)="filter(searchValue)">
        </form>
        <div class="navbar-nav ms-auto" id="menu-items">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentLang | uppercase }}
                </a>
                <div class="dropdown-menu" aria-labelledby="languageDropdown">
                    <div *ngFor="let lang of supportedLanguages">
                        <a class="dropdown-item" href="#" (click)="changeLanguage(lang)">{{ lang | uppercase }}</a>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="#">About</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </div>
        </div>
    </div>
</nav>
