<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-setting" id="offcanvasNavbarLabel">{{ 'shopping' | translate }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" *ngFor="let category of categories; index as i">
            <a class="nav-link active text-setting" (click)="selectedCategory(category.id)" aria-current="page" href="#">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="navbar-brand" href="/"><img src="./assets/images/logo.jpg" alt="Logo" id="logo" width="100" height="auto"></a>
    <form class="d-flex col-lg-6">
      <input class="form-control me-2 w-100 text-setting" type="text" placeholder="{{ 'search' | translate }}" aria-label="Search" name="search" [(ngModel)]="searchValue" (input)="filter(searchValue)">
    </form>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-setting" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ currentLang | uppercase }}
      </a>
      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
        <li *ngFor="let lang of supportedLanguages"><a class="dropdown-item text-setting" (click)="changeLanguage(lang)">{{ lang | uppercase }}</a></li>
      </ul>
    </div>
    <a class="navbar-brand text-setting" href="/contactWithUs">{{ 'contactWithUs' | translate }}</a>
    <button type="button" (click)="onLogout()" class="btn btn-danger text-setting">{{ 'logout' | translate }}</button>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#shoppingCarId" aria-controls="shoppingCarId">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="shoppingCarId" aria-labelledby="shoppingCarIdLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-setting" id="shoppingCarIdLabel">{{ 'wishlistTitle' | translate }} &nbsp;<button class="btn btn-success" (click)="history()">{{ 'historyButton' | translate }}</button></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div style="float: right; margin: 5px 5px;">
            <table class="table table-bordered widhlist" style="color: black;">
                <thead>
                    <tr>
                        <th>{{ 'productHeader' | translate }}</th>
                        <th>{{ 'quantityHeader' | translate }}</th>
                        <th>{{ 'optionsHeader' | translate }}</th>
                    </tr>
                </thead>
                <tbody *ngIf="(wishesservice.wishesSubscribe | async) as Wisheses">
                    <tr class="text-center" *ngFor="let wish of Wisheses; index as i">
                        <td *ngIf="wish.amount != 0">{{wish.product.name}}</td>
                        <td *ngIf="wish.amount <= wish.product.stock && wish.amount != 0">{{wish.amount}}</td>
                        <td *ngIf="wish.amount != 0">
                        <button class="btn btn-danger" (click)="delete(wish.product.id)">{{ 'delete' | translate }}</button><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" *ngIf="Wisheses.length == 0">
                            <div class="alert alert-danger text-center">{{ 'noProducts' | translate }}</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">{{ 'selectWishes' | translate }}</td>
                    </tr>
                </tfoot>
            </table>
            
        </div>
      </div>
    </div>
  </div>
</nav>