.dropdown-menu {
    min-width:auto;
  }

.text-setting {
  font-size: 80%;
  font-weight: 500;
  font-family: Poppins, Roboto, "Source Sans Pro", sans-serif;
}

.offcanvas.offcanvas-start {
  width: 260px;
}