.custom-card {
  padding: 0;
}

.card-margin {
  margin-top: 20px;
}

.custom-title {
  font-size: 70%;
}

.custom-text {
  font-size: 60%;
}

.cardproduct {
  min-width: 150px;
  min-height: 200px;
}

.widhlist {
  margin-top: 15px;
}
