.custom-card {
  padding: 0;
}

.card-margin {
  margin-top: 20px;
}

.custom-title {
  font-size: 70%;
}

.custom-text {
  font-size: 60%;
}

.cardproduct {
  min-width: 150px;
  min-height: 200px;
}

.table{
  margin-bottom: 0%;
  vertical-align: middle;
  .tbody {
    vertical-align: baseline;
  } 
}

.custom-table>:not(caption)>*>* {
  padding: 0 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}