<div class="container">
    <div style="float: right; margin: 5px 5px;">
        <table class="table table-bordered" style="color: black;">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Lista de deseos &nbsp;<button class="btn btn-success" (click)="history()">Historial</button></th>
                </tr>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody *ngIf="Wisheses.length != 0">
                <tr class="text-center" *ngFor="let wish of Wisheses; index as i">
                    <td *ngIf="wish.amount != 0">{{wish.product.name}}</td>
                    <td *ngIf="wish.amount > wish.product.stock && wish.amount != 0" style="color: red;">No hay stock</td>
                    <td *ngIf="wish.amount <= wish.product.stock && wish.amount != 0">{{wish.amount}}</td>
                    <td *ngIf="wish.amount != 0"><button class="btn btn-success" (click)="add(wish.product.id)">+</button>
                    &nbsp;<button class="btn btn-success" (click)="less(wish.product.id)">-</button>
                    &nbsp;<button class="btn btn-danger" (click)="delete(wish.product.id)">Eliminar</button><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" *ngIf="Wisheses.length == 0">
                        <div class="alert alert-danger text-center">Sin productos</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Selecciona tus deseos</td>
                </tr>
            </tfoot>
        </table>
        
    </div>

    <div class="row">
        <ng-container *ngIf="(productsservice.productstList$ | async) as productstList">
            <div class="col-md-3" *ngFor="let product of productstList; index as i">
                <div class="card cardcustom">
                    <img src="./assets/images/no-image.png" class="card-img-top">
                    <div class="card-body" style="text-align: center;">
                        <h6 class="card-title">{{product.name}}</h6>
                        <p class="card-text-responsive">$&nbsp;{{product.price}}</p>
                        <p class="card-text-responsive">Stock:&nbsp;{{product.stock}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success w-100" (click)="add(product.id)">Agregar articulo</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>