<div class="container">

    <div class="row">
        <ng-container *ngIf="(productsservice.productstList$ | async) as productstList">
            <div class="col-lg-3 col-md-4 col-sm cardproduct" *ngFor="let product of productstList; index as i">
                <div class="card card-margin">
                    <img src="./assets/images/no-image.png" class="card-img-top">
                    <div class="card-body" style="text-align: center;"  *ngIf="wishesservice.getWishByName(product.name) as selectedWish">
                        <h6 class="card-title custom-title">{{product.name}}</h6>
                        <p class="card-text custom-text">$&nbsp;{{product.price}}</p>
                        <p class="card-text">Stock:&nbsp;{{product.stock}}</p>
                        <ng-container *ngIf="selectedWish.amount == 0">
                            <button class="btn btn-success w-100" (click)="add(product.id)">{{ 'add' | translate }}</button>
                        </ng-container>
                        <table class="table table-borderless widhlist custom-table" style="table-layout: fixed;">
                            <tbody>
                                <tr class="text-center" *ngIf="selectedWish.amount != 0">
                                    <td><button class="btn btn-success btn-circle" *ngIf="selectedWish.amount < product.stock" (click)="add(product.id)">+</button></td>
                                    <td><span>{{selectedWish.amount}}</span></td>
                                    <td><button class="btn btn-success  btn-circle" (click)="less(product.id)">-</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>