<div class="container">
    <div style="float: right; margin: 5px 5px;">
        <table class="table table-bordered" style="color: black;">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Carro compras</th>
                </tr>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Suma</th>
                </tr>
            </thead>
            <tbody *ngIf="Wisheses.length != 0">
                        <tr class="text-center" *ngFor="let wish of Wisheses; index as i">
                            <td>{{wish.product.name}}</td>
                            <td>{{wish.amount}}</td>
                            <td><button class="btn btn-success" (click)="add(wish.product.id)">+</button>
                            &nbsp;<button class="btn btn-success" (click)="less(wish.product.id)">-</button><br>
                            $ precio
                            </td>
                        </tr>
                    <tr>
                        <td colspan="3" *ngIf="Wisheses.length == 0">
                            <div class="alert alert-danger text-center">Sin productos</div>
                        </td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total: $ 3000</td>
                </tr>
            </tfoot>
        </table>
        
    </div>

    <div class="row">
            <div class="col-md-3" *ngFor="let product of Products; index as i">
                <div class="card" style="margin: 5px 5px; height: 300;">
                    <img src="./assets/images/no-image.png" class="card-img-top" style="height: 150px; width: 100px; align-self: center;">
                    <div class="card-body" style="text-align: center;">
                        <h6 class="card-title">{{product.name}}</h6>
                        <p class="card-text">$&nbsp;{{product.price}}</p>
                        <p class="card-text">Stock:&nbsp;{{product.stock}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success" (click)="add(product.id)">Agregar al carro</button>
                    </div>
                </div>
            </div>

    </div>
</div>