<div class="container">
    <div style="float: right; margin: 5px 5px;">
        <table class="table table-bordered" style="color: black;">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Lista de deseos &nbsp;<button class="btn btn-success" (click)="history()"><mat-icon>history</mat-icon></button></th>
                </tr>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Suma</th>
                </tr>
            </thead>
            <tbody *ngIf="Wisheses.length != 0">
                        <tr class="text-center" *ngFor="let wish of Wisheses; index as i">
                            <td *ngIf="wish.amount != 0">{{wish.product.name}}</td>
                            <td *ngIf="wish.amount > wish.product.stock && wish.amount != 0" style="color: red;">No hay stock</td>
                            <td *ngIf="wish.amount <= wish.product.stock && wish.amount != 0">{{wish.amount}}</td>
                            <td *ngIf="wish.amount != 0"><button class="btn btn-success" (click)="add(wish.product.id)">+</button>
                            &nbsp;<button class="btn btn-success" (click)="less(wish.product.id)">-</button>
                            &nbsp;<button class="btn btn-danger" (click)="delete(wish.product.id)">Eliminar</button><br>
                            </td>
                        </tr>
                    <tr>
                        <td colspan="3" *ngIf="Wisheses.length == 0">
                            <div class="alert alert-danger text-center">Sin productos</div>
                        </td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total: $ 3000</td>
                </tr>
            </tfoot>
        </table>
        
    </div>

    <div class="row">
        
    <form class="form-inline my-2 my-lg-0" style="display: flex; justify-content: flex-end;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
            <div class="col-md-3" *ngFor="let product of Products; index as i">
                <div class="card" style="margin: 5px 5px; height: 300;">
                    <img src="./assets/images/no-image.png" class="card-img-top" style="height: 150px; width: 100px; align-self: center;">
                    <div class="card-body" style="text-align: center;">
                        <h6 class="card-title">{{product.name}}</h6>
                        <p class="card-text">$&nbsp;{{product.price}}</p>
                        <p class="card-text">Stock:&nbsp;{{product.stock}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success" (click)="add(product.id)">Agregar articulo</button>
                    </div>
                </div>
            </div>

    </div>
</div>